.container {
    position: absolute;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--button-bg);
    border-radius: 8px;
    box-shadow: 0px 5px 20px 12px rgb(0 0 0 / 40%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .exitBtn {
    position: absolute;
    background-color: transparent;
    color: var(--text-color);
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.container .exitBtn:hover {
    background-color: var(--button-bg);
}

.container h1 {
    text-align: center;
    color: var(--button-bg);
}

.container form,
.form-group {
    display: flex;
    flex-direction: column;
}

.container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container button {
    padding: 10px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .submitBtn:hover {
    background-color: #1a8dcf;
}

/* .container .social-login {
    text-align: center;
    margin-top: 20px;
}

.container .social-login p {
    margin: 10px 0;
}

.container .social-buttons {
    display: flex;
    justify-content: space-between;
}

.container .social-buttons button {
    background-color: white;
    color: #333;
    margin: 5px;
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.container .social-buttons .google {
    border-color: #db4437;
}

.container .social-buttons .github {
    border-color: #333;
}

.container .social-buttons .facebook {
    border-color: #3b5998;
}

.container .icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.container .google-icon {
    background-image: url('/codetyper-pro/public/GLogo.svg');
}

.container .github-icon {
    background-image: url('/codetyper-pro/public/GHLogo.svg');
}

.container .facebook-icon {
    background-image: url('/codetyper-pro/public/FBLogo.svg');
} */

.container .register-option {
    text-align: center;
    margin-top: 20px;
}

.container .register-option a {
    color: var(--button-bg);
    text-decoration: none;
}

.container .register-option a:hover {
    text-decoration: none;
}