.container .login-option {
    text-align: center;
    margin-top: 20px;
}

.container .login-option a {
    color: var(--button-bg);
    text-decoration: none;
}

.container .login-option a:hover {
    text-decoration: none;
}