.typing-test-container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.typing-input {
  width: 100%;
  min-height: 200px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust font size as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent; /* Make textarea background transparent */
  outline: none; /* Remove outline */
}

