.typing-test-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typing-test-container .randomText {
  max-width: 900px;
  height: 100px;
  font-size: 24px;
  margin: 0px 0;
}

textarea {
  width: 900px;
  height: 200px;
  background-color: transparent;
  color: var(--header-text-color);
  border: none;
  outline: none;
  resize: none;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
}

.stats{
  width: 100%;
  max-width: 900px;
  text-align: left;
  margin-bottom: 10px;
}
.modebtn {
  margin-top: 10px;
}

.modebtn button {
  margin: 5px;
  background-color: transparent;
  color: var(--header-text-color);
  border: none;
  cursor: pointer;
}

.modebtn button.active {
  color: var(--button-bg);
}

.modebtn button:hover{
  transform: scale(1.1);
}

.timer-buttons {
  margin-top: 10px;
}

.timer-buttons button {
  margin: 5px;
  background-color: transparent;
  color: var(--header-text-color);
  border:none;
  cursor: pointer;
}

.timer-buttons button.active {
  color: var(--button-bg);
}

.timer-buttons button:hover {
  transform: scale(1.1);
}

.next-sentence {
  font-size: 20px;
  margin: 0px;
}

