/* Light Theme */
[data-theme='light'] {
  --background-color: #f5f5f5;
  --text-color: #282c34;
  --header-bg: #d0d0d0;
  --header-text-color: #282c34;
  --button-bg: #21a1f1;
  --button-text-color: #282c34;
}

/* Dark Theme */
[data-theme='dark'] {
  --background-color: #282c34;
  --text-color: #f5f5f5;
  --header-bg: #1c1e22;
  --header-text-color: #ffffff;
  --button-bg: #21a1f1;
  --button-text-color: #282c34;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Other global styles here */

main {
  padding: 20px;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#progress-chart {
  width: 100%;
  height: 400px;
  background-color: #ddd;
}
.player-controls {
  margin-top: 10px;
}

.player-controls button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.player-controls button:hover {
  background-color: #ddd;
}
